@media (min-height: 440px) {
    .mobileSidebar {
        bottom: 0;
        width: 100%;
        position: absolute;
    }
}

.baru {
    color: white;
    background-color: #929090;
}

.diatasan {
    color: white;
    background-color: #6900c7;
}

.batal {
    color: white;
    background-color: #334d6e;
}

.ditolak {
    color: white;
    background-color: #e81500;
}

.diterima {
    color: white;
    background-color: #00ac69;
}

.cetakSurat {
    color: black;
    background-color: #e0e5ec;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.detail {
    color: white;
    background-color: #818e9b;
}

.cetakSurat:hover {
    color: black !important;
}

.detail:hover {
    color: white !important;
}

.batal:hover {
    color: white !important;
}
